/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/screen.scss */
html {
  background-image: url("http://www.hiusuenlaw.com/images/photo.jpg");
  background-repeat: no-repeat;
  background-size: 300%;
  background-attachment: fixed;
  font-size: 1em;
  font-family: "Book Antiqua";
}

/* line 23, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 28, ../sass/screen.scss */
header {
  background-color: #ea4780;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1% 0% 1% 5%;
  margin: 0 auto;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}
/* line 43, ../sass/screen.scss */
header h1 {
  display: block;
  width: 100%;
  padding: 5% 0%;
}
/* line 48, ../sass/screen.scss */
header h1 a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
/* line 53, ../sass/screen.scss */
header h1 a:hover {
  text-decoration: none;
}
/* line 59, ../sass/screen.scss */
header #larger-text-icon {
  z-index: 1;
  padding: 0% 5% 0% 0%;
  margin: 1%;
  float: right;
}

/* line 68, ../sass/screen.scss */
div#content {
  height: 80%;
  width: 100%;
  position: relative;
  top: 8em;
  margin-top: 5%;
}

/* line 78, ../sass/screen.scss */
article {
  margin: 5% 5% 10%;
  padding: 2% 5%;
  color: gray;
  background-color: white;
  border-radius: 25px;
}
/* line 88, ../sass/screen.scss */
article h2 {
  font-size: 1.75em;
  padding: 1% 0%;
}
/* line 93, ../sass/screen.scss */
article a {
  text-decoration: none;
  color: #551a8b;
}
/* line 97, ../sass/screen.scss */
article a:hover {
  text-decoration: underline;
}
/* line 101, ../sass/screen.scss */
article a:visited {
  color: #b82a4b;
}

/* line 109, ../sass/screen.scss */
.larger-text {
  font-size: 1.10em;
}

/* line 113, ../sass/screen.scss */
.largest-text {
  font-size: 1.25em;
}
