/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  background-image: url("../images/magic_wheel.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  font-size: 1em;
  font-family: "Book Antiqua";
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ea4780;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding: 1% 0% 1% 5%;
  margin: 0 auto;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
}
header h1 {
  width: 100%;
}
header h1 a {
  display: block;
  padding: 2%;
  text-decoration: none;
  color: white;
  font-size: 2em;
}
@media (max-width: 768px) {
  header h1 a {
    padding: 5% 0%;
  }
}
@media (max-width: 480px) {
  header h1 a {
    font-size: 1.75em;
  }
}
header h1 a:hover {
  text-decoration: none;
}
header #larger-text-icon {
  z-index: 1;
  padding: 0% 5% 0% 0%;
  margin: 1%;
  float: right;
}

div#content {
  height: 80%;
  width: 100%;
  position: relative;
  top: 8em;
  margin-top: 5%;
}

article {
  margin: 5% 5% 10%;
  padding: 2% 5%;
  color: gray;
  background-color: white;
  border-radius: 25px;
}
article h2 {
  font-size: 1.75em;
  padding: 3% 0%;
}
article em {
  font-style: italic;
}
article a {
  text-decoration: none;
  color: #551a8b;
}
article a:hover {
  text-decoration: underline;
}
article a:visited {
  color: #b82a4b;
}
article p {
  padding: 2% 0%;
}

.larger-text {
  font-size: 1.10em;
}

.largest-text {
  font-size: 1.25em;
}

@media (max-width: 480px) {
  #content {
    width: 300px;
  }
}
