html {

  /*background-color: gray;*/
  background-image: url('http://www.hiusuenlaw.com/images/photo.jpg');
  background-repeat: no-repeat;
  background-size: 300%;
  background-attachment:fixed;

  font-size: 1.5em;
  font-family: "Book Antiqua";

}

body {
  margin: 0;
  padding: 0;
}

h1 {

  color: white;
  background-color: rgba(234, 71, 128, 1);
  font-size: 2.5em;
  font-weight: bold;

  text-align: center;
  padding: 5% 3%;
  margin: 0 auto;
  width: 100%;

  top: 0;
  position:fixed;
  z-index: 1;
}

h2 a {

  font-size: 1.75em;
}

article {

  margin: 5% 5% 10%;
  padding: 2% 5%;

  color: gray;
  background-color: white;

  border-radius: 25px;
}

div {

  height: 80%;
  width: 100%;
}

div#content {
  position: relative;
  top: 8em;
  margin-top: 5%;

}

a {
  text-decoration: none;
  color: purple;
}

a:hover{

  text-decoration: underline;
}

a:visited {

  color: #B82A4B;
}

